.homeConteudoCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.homeConteudoCards > h2 {
    font-size: 1rem;
    color: var(--color-text-secondary);
}

.conteudoCards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardsHome {
    width: 286px;
    height: 148px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgba(41,37,36,1);
}

.cardsHome:hover {
    box-shadow: 0px 0px 3px rgba(41,37,36,1);
}

.cardsHome > img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.cardsHome > a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.cardsHome > a:hover {
    text-decoration: underline;
}

.cardsHome:nth-child(4) > div {
    justify-content: center;
}

.cardsDescricao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsDescricao > span {
    font-size: 0.875rem;
    color: #78716C;
}

@media screen and (max-width: 660px) {
    .homeConteudoCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudoCards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
